.list-builder .source-header-container,
.list-builder .target-header-container {
    -fx-padding: 5px;
}

.list-builder .source-header-container .label,
.list-builder .target-header-container .label {
    -fx-font-size: 1.166667em; /* 14 */
    -fx-padding: 3px 0 3px 4px;
}

.list-builder .list-view {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.list-builder .remove-button-container {
    -fx-padding: 10px 0 0 0;
}

