.navigation-pane > .main-container > .top-container {
    -fx-pref-height: 20px;
}

.navigation-pane > .main-container > .content {
    -fx-background-color: white;
    -fx-background-radius: 8px 0 0 0;

    -fx-border-color: #ddd;
    -fx-border-width: 1px 1px 0 1px;
    -fx-border-radius: 8px 0 0 0;

    -fx-padding: 25px 0 0 25px;
}

.navigation-pane {
    -shrunken-width: 50px;
    -unshrunken-width: 320px;
}

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container {
    -fx-padding: 0 0 0 6px;
}

.navigation-pane > .main-container > .pane > .top-container > .menu-items-container,
.navigation-pane > .main-container > .pane > .footer-items-container,
.navigation-pane > .main-container > .pane .navigation-pane-item.container-item-view > .main-container {
    -fx-spacing: 0.416667em;
}

.navigation-pane > .main-container > .pane > .top-container > .menu-items-container {
    -fx-padding: 1em 3px 0 3px;
}

.navigation-pane > .main-container > .pane > .footer-items-container {
    -fx-padding: 1em 3px 0.5em 3px;
}

.navigation-pane > .main-container > .pane > .settings-container {
    -fx-padding: 0 3px 0.5em 3px;
}

.navigation-pane > .main-container > .pane .item-container {
    -fx-padding: 7px 10px 7px 0;
}

.navigation-pane > .main-container > .pane .item-container,
.navigation-pane > .main-container > .pane > .top-container > .hamburger-container > .button {
    -fx-background-color: transparent;
    -fx-background-radius: 6px 6px 6px 6px !important;
}

.navigation-pane > .main-container > .pane .item-container:hover,
.navigation-pane > .main-container > .pane .navigation-pane-item.item-container:selected,
.navigation-pane > .main-container > .pane .navigation-pane-item.container-item-view:selected > .main-container > .item-container,
.navigation-pane > .main-container > .pane .hamburger-container .button.light:hover {
    -fx-background-color: rgba(200, 200, 200, 0.2) !important;
}

.navigation-pane > .main-container > .pane .item-container > .label {
    -fx-font-family: "Segoe UI Variable Light Small";

    -fx-font-size: 1.166667em;
    -fx-padding: 0 0 0 8px;

    -fx-graphic-text-gap: 0.75em;
}

.navigation-pane > .main-container > .pane .navigation-pane-item .selection-marker-container {
    -fx-padding: 3px 0 3px 0;
}

.navigation-pane > .main-container > .pane .navigation-pane-item .selection-marker-container > .selection-marker {
    -fx-pref-width: 3px;
    -fx-pref-height: 0.5em;

    -fx-background-color: transparent;
}

.navigation-pane > .main-container > .pane .navigation-pane-item:selected .selection-marker-container > .selection-marker {
    -fx-background-color: cornflowerblue;
}

.container-item-view > .main-container > .child-items-container > .item-container {
    -fx-padding: 7px 10px 7px 2.333333em;
}

.container-item-view > .main-container > .item-container > .arrow-container > .arrow {
    -fx-padding: 0.208em 0.358em 0.208em 0.358em; /* 2.5px 4.29px 2.5px 4.29px */
    -fx-shape: "M21.361,12.736l0.527,0.527L16,19.152l-5.889-5.889l0.527-0.527L16,18.098L21.361,12.736z";

    -fx-background-color: #111;
}